<%- include("header") -%>
  <div class="poll">
    <div class="red-margin"></div>
    <div class="question">
      <div class="question-display">
        <%=poll.question%>
      </div>
    </div>

    <div id="options-container">
      <input type="hidden" value=<%=poll.id%> id="id" />
      <% poll.rankings.forEach(function(arr, index) { %>
        <div class="option-display">
          <div class="option-number">
            <%=parseInt(index)+1%>
          </div>
          <div class="option-text">
            <%=poll.options[arr[0]]%>
          </div>
        </div>
        <% arr.slice(1).forEach(option=> { %>
          <div class="option-display">
            <div class="option-number"></div>
            <div class="option-text">
              <%=poll.options[option]%>
            </div>
          </div>
          <%});%>
            <%});%>
    </div>
    <div class="poll-stats">Created on: <%=poll.created_at%>
    </div>
    <div class="poll-stats">Total Votes: <%=poll.num_votes%>
    </div>
    <div class="poll-buttons">
      <button type="button" onclick="copyVote()" class="btn btn-primary btn-lg">
        Copy Vote Link
      </button>
      <button type="button" onclick="copyResult()" class="btn btn-info btn-lg">
        Copy Result Link
      </button>
    </div>
  </div>

  <%- include("footer") -%>