<%- include("header") -%>
<div class="poll">
  <div class="red-margin"></div>
  <div class="question">
    <div class="question-display"><%=poll.question%></div>
  </div>
  <form action="/results" method="post">
    <input type="hidden" value=<%=poll.id%> name="id" />
    <div id="options-container">
      <% poll.options.forEach(function(option, i) { %>

      <div class="option-display draggable" draggable="true">
        <input type="hidden" name="order[]" value=<%=i%> />
        <div class="red-margin-input"></div>
        <div class="option-number"><%=String.fromCharCode(i+1+64)%></div>
        <div class="option-text"><%=option%></div>
      </div>
      <%});%>
    </div>
    <div class="poll-buttons">
      <!-- <button type="button" class="btn btn-secondary btn-lg">Results</button> -->
      <button type="submit" class="btn btn-primary btn-lg">Vote</button>
      <!-- <button type="button" class="btn btn-info btn-lg">Share</button> -->
    </div>
  </form>
</div>

<%- include("footer") -%>
